{% extends "base.html" %}
{% load static %}

{% block content %}
    <section id="login-form-section">
        <h2>Login</h2>
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <div class="form-field-wrapper">
                <label for="email">Email</label>
                <input type="email" placeholder="Email" name="email" id="email" class="form__input">
            </div>
            <div class="form-field-wrapper">
                <label for="password">Senha</label>
                <input type="password" placeholder="Senha" name="password" id="password" class="form__input" required>
            </div>
            <div class="form-field-wrapper">
                <input type="submit" value="Login" class="button">
            </div>
        </form>
        <div id="register-area">
            <p>Não é cadastrado?</p>
            <a href="{% url 'user-create' %}">Cadastre-se</a>
        </div>
    </section>
{% endblock content %}

{% block scripts %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock scripts %}