{% extends "base.html" %}
{% load static %}
{% block content %}
<section id="user-section">
	<h2>Bem-vindo(a), <span>{{ request.user.get_full_name }}</span>!</h2>
	<div>
		<a href="{% url 'user-update' %}">Atualizar perfil</a>
		<a href="{% url 'logout' %}">Sair</a>
	</div>


	{% if messages %}
		<ul class="messages">
				{% for message in messages %}
				<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
				{% endfor %}
		</ul>
	{% endif %}
</section>
{% endblock content %}

{% block scripts %}
	<link rel="stylesheet" href="{% static 'css/authenticaded-page.css' %}">
{% endblock scripts %}