{% extends 'base.html' %}
{% load static %}

{% block title %}Início{% endblock title %}

{% block content %}
<section id="index-user-area-section">
	<h2 class="index-user-area-section__title">Olá, {{ request.user.get_full_name }}</h2>

	<section id="user-area-treinos-section">
		<h2 class="user-area-treinos-section__title">Seus treinos</h2>
		<a href="{% url 'create-treino' %}" class="button button-green">Cadastrar treino</a>

		<ul id="user-area-treinos-section__treinos">
			{% for treino in treinos %}
				<li class="treino-card">
					<p class="treino-card__title">{{ treino.tipo }} - {{ treino.exercicio }}</p>
					<p class="treino-card__activitie">{{ treino.series }} séries de {{ treino.repeticoes }} repetições</p>
				</li>
			{% endfor %}
		</ul>
	</section>

	<section id="user-area-pagamentos-section">
		<h2 class="user-area-treinos-section__title">Sua assinatura</h2>
		<div class="assinatura-card">
			<p>Status da assinatura: <span>{{ assinatura.get_status_display }}</span></p>
			<p>Criada em: <span>{{ assinatura.criado_em }}</span></p>
		</div>
		<h3>Pagamentos</h3>
		<ul id="user-area-pagamentos-section__pagamentos">
			{% for pg in pagamentos %}
				<li class="pagamento-card">
					<p class="pagamento-card__status">Status: {{ pg.get_status_display }}</p>
					<p class="pagamento-card__valor">Valor: R$ {{ pg.valor }}</p>
					<p class="pagamento-card__valor">Vencimento em: {{ pg.vencimento }}</p>
				</li>
			{% endfor %}
		</ul>
	</section>
</section>
{% endblock content %}

{% block scripts %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock scripts %}