{% extends "base.html" %}
{% block content %}
<table>
	<thead>
		<tr>
			<th>Cliente</th>
			<th>Valor</th>
			<th>Criado em</th>
			<th>Status</th>
			<th>Opções</th>
		</tr>
	</thead>
	
	<tbody>
		{% for assinatura in assinaturas %}
			<tr>
				<td>{{ assinatura.cliente.get_full_name }}</td>
				<td>{{ assinatura.valor }}</td>
				<td>{{ assinatura.criado_em }}</td>
				<td>{{ assinatura.get_status_display }}</td>
				<td>
					<a href="{% url 'detail-assinatura' assinatura.pk %}">Visualizar</a>
					<a href="{% url 'update-assinatura' assinatura.pk %}">Editar</a>
					<a href="{% url 'delete-assinatura' assinatura.pk %}">Excluir</a>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock content %}