@import url(root-atributes.css);

#login-form-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#register-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-field-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 1em 0;
    width: 15em;
    justify-content: space-between;
}