:root {
    --border-radius-1: 1em;

    --background-color: #232323;
    --background-color-white: #ffffff;

    --text-color-white: #ffffff;
    --text-color-green: #E2F163;
    --text-color-black: #232323;

    --button-color-green: #E2F163;
}